# Firebase credentials
config/firebase/*.json
config/firebase/service-account.json
*.key.json

# Python/Django
*.pyc
__pycache__/
*.log
.env
venv/
env/
myenv/
db.sqlite3
/static/
/media/

# IDE
.vscode/
.idea/
*.swp